<div class="content">
    <mat-card class="template-card">

        <div id="hp-damage" role="group">
            <span id="hp">25</span>

            <span id="damage">15</span>
        </div>
        <div mat-card-image>

            <img
                src="https://png2.cleanpng.com/sh/8421a889d41bed4f3cd7e72adb896a9d/L0KzQYm3UcI5N6JmiZH0aYP2gLBuTfR2dphqh9D8LXT1cbj2jwMuaqZxhOtCdXeweMb0gf5wcZUyhdH3c4Togn70gf52aV5ritHwLYPzdbL5TgdieqNuhAQ2cHXygL3sTcViPpY5UaoANEizRLa4Tsk4OGUATqsCMUW0R4KAV8IzOWMATZD5bne=/kisspng-dungeons-dragons-bullywug-humanoid-monster-manua-frog-spear-warrior-people-5a6e49854804e1.970496971517177221295.png">
        </div>

        <mat-card-header>
            <mat-card-title>Temp Magician</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p>
                Jason has a Chemistry ph.D but dont find a job... So,got this temp job ! Let the magic begins !
            </p>
        </mat-card-content>

        <mat-card-footer>
            <span class="material-symbols-outlined" style="color: red;">skull</span>
        </mat-card-footer>
    </mat-card>

</div>