<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <div class="row align-items-center">
                <div class="col col-2 offset-2 ">
                    <app-card></app-card>
                </div>
                <div class="col col-2 ">
                    <app-card></app-card>
                </div>
                <div class="col col-2">
                    <app-card></app-card>
                </div>
            </div>
            <div class="row">
                <div class="col col-2 offset-2">
                    <app-card></app-card>
                </div>
                <div class="col col-2">
                    <app-card></app-card>
                </div>
                <div class="col col-2">
                    <app-card></app-card>
                </div>
            </div>
            <div class="row">
                <div class="col col-2 offset-2">
                    <app-card></app-card>
                </div>
                <div class="col col-2">
                    <app-card></app-card>
                </div>
                <div class="col col-2">
                    <app-card></app-card>
                </div>
            </div>
        </div>
    </div>
</div>