// #region @MediaScreen
// Using for the SVG & font responsivity 
@media (width > 1600px) {
    mat-card {
        border-radius: 30px 30px 30px 30px  !important;
        width: 10vw !important;
  }
}

  @media (width > 1400px) {
    mat-card {
        border-radius: 30px 30px 30px 30px  !important;
        width: 10vw !important;
    }
  }
@media (width < 1400px) {
    mat-card {
        border-radius: 30px 30px 30px 30px  !important;
        width: 12vw !important;
    }
  }
@media (width < 1000px) {
    mat-card {
        border-radius: 30px 30px 30px 30px  !important;
        width: 15vw !important;
        //ici
    }
  }
@media (width < 800px) {
    .col {
        margin-right: 10% !important;
    }
  }
@media (width < 500px) {
    .col {
        margin-right: 20%;
    }
  }
// #endregion
       

.container{
    height: 100%;
}

.col {
    margin-right: 2%;
}
.row{
    margin-bottom: 1%;
}