mat-grid-tile {
    background: #888686;
    border-radius: 20px;
}

mat-grid-list {
    margin: 6% 10% 0 10%;
}

@media (min-width: 600px) {
    mat-grid-list {
        margin: 10% 20% 0 20%;
    }
}

@media (min-width: 750px) {
    mat-grid-list {
        margin: 10% 20% 0 20%;
    }
}

@media (min-width: 900px) {
    mat-grid-list {
        margin: 10% 20% 0 20%;
    }
}

@media (min-width: 1200px) {
    mat-grid-list {
        margin: 10% 25% 0 25%;
    }
}

@media (min-width: 2000px) {
    mat-grid-list {
        margin: 3% 28% 0 28%;
    }
}

@media (min-width: 2700px) {
    mat-grid-list {
        margin: 3% 31% 0 31%;
    }
}

@media (min-width: 3150px) {
    mat-grid-list {
        margin: 3% 33% 0 33%;
    }
}

@media (min-width: 3500px) {
    mat-grid-list {
        margin: 3% 35% 0 35%;
    }
}