<div class="container-fluid">
    <div class="row justify-content-center mb-2">   
        <div class="col-xl-2 offset-xl-2 col-lg-2 offset-lg-2 col-md-2 offset-md-2 col-sm-3 offset-sm-2 me-4 d-flex justify-content-center">
            <app-card></app-card>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 me-4 d-flex justify-content-center ">
            <app-card></app-card>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 me-4 d-flex justify-content-center ">
            <app-card></app-card>
        </div>
    </div>
    <div class="row justify-content-center mb-2">   
        <div class="col-xl-2 offset-xl-2 col-lg-2 offset-lg-2 col-md-2 offset-md-2 col-sm-3 offset-sm-2 me-4 d-flex justify-content-center">
            <app-card></app-card>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 me-4 d-flex justify-content-center ">
            <app-card></app-card>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 me-4 d-flex justify-content-center ">
            <app-card></app-card>
        </div>
    </div>
    <div class="row justify-content-center mb-2">   
        <div class="col-xl-2 offset-xl-2 col-lg-2 offset-lg-2 col-md-2 offset-md-2 col-sm-3 offset-sm-2 me-4 d-flex justify-content-center">
            <app-card></app-card>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 me-4 d-flex justify-content-center ">
            <app-card></app-card>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 me-4 d-flex justify-content-center ">
            <app-card></app-card>
        </div>
    </div>
</div>