<div class="container">
  <div class="col-lg-4 offset-lg-4" style="background-color: burlywood">
    <div class="row text-center">
      <h2>Classes</h2>
      <ngb-carousel [interval]="1000000">
        <ng-template ngbSlide *ngFor="let class of classes$ | async">
          <img [src]="class.image" style="width: 200px; padding-bottom: 80px" alt="Random slide"/>
          <div class="carousel-caption" style="color: black">
            <p [innerText]="class.name"></p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
