.nav{
    text-align: center;
    justify-content: center;
    background-color: #E7E7E7;
    height: 45px;
}

img{
    margin-top: 5px;
    width:40px;
}

.side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}