<div class="container">
    <div class="right">
        <div class="form-container">

            <form>
                <h2>Card Creation</h2>

                
                <select name="cards" id="card-select">
                    <option value="">--Choose a Type--</option>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="hamster">Hamster</option>
                    <option value="parrot">Parrot</option>
                    <option value="spider">Spider</option>
                    <option value="goldfish">Goldfish</option>
                </select>

                <div class="name">
                    <input type="text" placeholder="Name" maxlength="4" size="4">
                </div>

                <div class="damage">
                    <input type="text" placeholder="Damage">
                </div>

                <div class="hp">
                    <input type="text" placeholder="HP">
                </div>

                <div class="score-value">
                    <input type="text" placeholder="Score Value">
                </div>

                <div class="xp-reward">
                    <input type="text" placeholder="XP_reward">
                </div>

                <div class="description">
                    <input type="text" placeholder="Description">
                </div>

                <div class="card-image-path">
                    <input type="text" placeholder="Card_image_path">
                </div>

                <button class="btn-invoke">Invoke</button>

            </form>
        </div>
    </div>