ul{
    list-style-type: none;
    text-align: center;
    justify-content: center;
}

li{
    padding-bottom: 2%;
    margin-right: 10%;
    text-align: center;
}

a{
    text-decoration: none;
    color : #525151;
    font-weight: bolder;
    font-size: large;
}

#Connection{
    padding-top: 5%;
    background-color: #E7E7E7;
    justify-content: center;
    height: 30%;
    border-radius: 25px 25px 0px 0px;
    margin-top: 5%;
}

hr{
    border: 2px solid #525151; 
    // margin: 0rem 0px 0rem 0px !important;
    size: 50px;
    width: 30%;
    margin-left: 35%;
}

img{
    margin-left: 5%;
    width: 80%;
    padding-bottom: 15%;
}

#triangle {
    fill: #E7E7E7;
    stroke: #E7E7E7;
    stroke-width: 60;
    padding-left: 0 !important;
    width: 100%;
}

svg{
    width: 100%;
}

