<main class="container">
    <div class='row .g-0'>
        <div id="Connection" class="col col-lg-4 offset-lg-4">
            <ul>
                <li><img src="..\..\..\assets\Mini_castle_blanc.png" alt="logo"></li>   
                <ng-container>
                    <li><a href="">{{ field1 }}</a></li>
                        <li><hr></li>
                    <li ><a href="">{{ field2 }}</a></li>
                        <li><hr></li>
                    <li><a href="">{{ field3 }}</a></li>
                </ng-container>
            </ul>     
        </div>     
    </div>
    <div class='row'>
            <div id="triangle">
                <svg class="col col-md-4 offset-lg-4">
                <polygon class="triangle" stroke-linejoin="round" points="34,0 422,0 220,100"/>
                </svg> 
        </div>
    </div>
</main>